:root{
--height: 70px;
--fooHe: #FF8C73;
--azul:#E66465;
}
*{
  margin: 0px;
}
a{

  text-decoration: none;
}
.header, .footer{
  position: relative;
  z-index: 1;
  height: var(--height);
  background:var(--fooHe);
}
.content{
height: 84.4vh;
}
.header{
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  display: flex;
}
.header img{


}
